{% load static %}
{% load blog_tags %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css\blog.css' %}" rel="stylesheet">
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="sidebar">
    <h2 class="serch-box">
        <a href="{% url 'blog:post_search' %}">جست و جو  </a>
    </h2>
    <h2>Afshin shiri</h2>
    <p> This is my blog me have "{% total_post %}" posts</p>
    <div class="latest_post">
        <h3>آخرین پست ها </h3>
        {% show_latest_post %}
    </div>
    <div class="get_post_comments_posts">
        <h3> پست هایی که بیشترین نظر را گرفتند </h3>
        {% get_most_commented_posts %}
    </div>
</div>
</body>
</html>